<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Predicción de Flores Iris </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
        <b> Primer valor :  <input type="text", name='a', placeholder="Ingrese valor 1"> <br><br>
            Segundo valor :  <input type="text", name='b', placeholder="Ingrese valor 2"> <br><br>
            Tercer valor :  <input type="text", name='c', placeholder="Ingrese valor 3"> <br><br>
            Cuarto valor : <input type="text", name='d', placeholder="Ingrese valor 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='/static/flower1.jpg' alt="Flor">
        
    </center>

    </body>
</html>
